<mat-card class="mat-elevation-z8" class="carde">
    <mat-card-title>Novo Produto</mat-card-title>
    <form >
        


        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome" [(ngModel)]="product.nome" name="nome">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Preço (R$)"  [(ngModel)]="product.preco" name="preco">
                    </mat-form-field>
                </td>
               
          </tr>
        </table>


        <table class="example-full-width" cellspacing="0">
            <tr>
                
                <td>
                    <mat-form-field class="codigo_ean13">
                        <input matInput placeholder="codigo_ean13"  [(ngModel)]="product.codigo_ean13" name="codigo_ean13">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput placeholder="Peso (KG)"  [(ngModel)]="product.peso" name="peso">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput placeholder="comprimento (cm)"  [(ngModel)]="product.comprimento" name="comprimento">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field >
                        <input matInput placeholder="altura (cm)"  [(ngModel)]="product.altura" name="altura">
                    </mat-form-field>
                </td>
          </tr>
        </table>


        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="imagem"  [(ngModel)]="product.imagem" name="imagem">
                    </mat-form-field>
                </td>
               
          </tr>
        </table>


        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="descricao"  [(ngModel)]="product.descricao" name="descricao">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Descricao Curta"  [(ngModel)]="product.descricao_curta" name="descricao_curta">
                    </mat-form-field>
                </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="codigo_ean13">
                        <input matInput placeholder="Fabricante"  [(ngModel)]="product.fabricante" name="fabricante">
                    </mat-form-field>
            
                </td>
                <td>
                    <mat-form-field class="categoria">
                        <input matInput placeholder="Categoria"  [(ngModel)]="product.categ_id" name="categ_id">
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field>
                        <input matInput placeholder="Quantidade (R$)"  [(ngModel)]="product.quant" name="quant">
                    </mat-form-field>
                </td>
          </tr>
        </table>

       
    </form>

    <button mat-raised-button (click)="updateProduct()" color="green">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>