.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .codigo_ean13{
    width: 120px;
  }

  .categoria{
    width: 325px;
  }

  .carde{
    margin-top: 70px;
    /**float: left;**/

  }

  td {
    padding-right: 8px;
  }


button{
    margin: 10px 10px 10px 10px;
}
